qtile/config.py.bak
qtile/__pycache__
qutebrowser/bookmarks
newsboat/urls
newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
nvim/.netrwhist
nvim/plugged
mpv/watch_later
zsh/.zcompdump
vifm/vifminfo.json
qutebrowser/dracula
