qtile/__pycache__
qutebrowser/bookmarks
qutebrowser/dracula
bpytop/error.log
newsboat/cache
newsboat/urls
newsboat/cache.db
newsboat/cache.db.lock
newsboat/cache.lock
newsboat/history.cmdline
newsboat/history.search
nvim/.netrwhist
nvim/plugged
mpv/watch_later
zsh/.zcompdump
vifm/vifminfo.json
