# x offset:
# 0.25 = middle of first monitor
# 0.75 = middle of second monitor

monitor1 = {
    x         = {relative = 0.25; offset = 0;};
    y         = {relative = 0.75; offset = 0;};
    #length    = {relative = 0.5; offset = -20;};
    thickness = 24;
    outline   = 3;
    border    = 4;
    padding   = 3;
    orientation = "horizontal";

    overflow = "hidden";
    #overflow = "proportional";

    color = {
        normal = {
            fg     = "#B48EAD";
            bg     = "#A7B3C9";
            border = "#3B4252";
        };
        alt = {
            fg     = "#555555";
            bg     = "#000000";
            border = "#555555";
        };
        overflow = {
            fg     = "#CF616A";
            bg     = "#000000";
            border = "#BF516A";
        };
        altoverflow = {
            fg     = "#550000";
            bg     = "#000000";
            border = "#550000";
        };
    };
};

monitor2 = {
    x         = {relative = 0.75; offset = 0;};
    y         = {relative = 0.75; offset = 0;};
    #length    = {relative = 0.5; offset = -20;};
    thickness = 24;
    outline   = 3;
    border    = 4;
    padding   = 3;
    orientation = "horizontal";

    overflow = "hidden";
    #overflow = "proportional";

    color = {
        normal = {
            fg     = "#B48EAD";
            bg     = "#A7B3C9";
            border = "#3B4252";
        };
        alt = {
            fg     = "#555555";
            bg     = "#000000";
            border = "#555555";
        };
        overflow = {
            fg     = "#CF616A";
            bg     = "#000000";
            border = "#BF516A";
        };
        altoverflow = {
            fg     = "#550000";
            bg     = "#000000";
            border = "#550000";
        };
    };
};
